{{extend 'layout.html'}}
<h3>Themis Group</h3>
<p style= "font-family:garamond; font-size: 12pt;align:justify">  Themis Lexsol Private Limited, a legal support services company
<br>Themis Associates, a full service corporate law firm providing pragmatic and solution driven legal services<br>
Themis LLP, partnership firm with a special focus on financial and tax consultancy<br>
Themis within a short span has emerged as a leading service provider in its areas of expertise with our special focus on the Private Equity Sector. Our endeavour is to offer personalized legal solutions and nurturing long relationships with all our clients. We are a coveted group of dynamic, smart, energetic people who have come together to give a new dimension and sheen to the legal services sector.  We are young and a fast growing Company. At Themis we want to nurture our human talent in the best possible way for providing seamless services to our clients. We work very closely with our clients, and their teams, and successfully create the most pertinent construct for every deal.  We represent both public and private targets and acquirers from every industry, be it a start-up or a large conglomerate.</p>
<h3>Our Vision</h3>
<p style= "font-family:garamond; font-size: 12pt;align:justify">  Our vision is to be a leading professional service provider in India in the above areas with a dedicated team of bright, and highly motivated Associates and Employees who have the right values and attitude to make us leaders in our field. 
We immensely value quality of service, adherence to work discipline and professional ethics. We completely believe in the principle of complete ownership of client problems and issues. For us forming and nurturing lasting relationships both within and with our stakeholders and clients is of paramount importance.
Our vision is to build a team of professionals who are adept at exercising initiative, are motivated and goal oriented, who completely tuned to acting on situations, challenges and opportunities, rather than be acted upon. </p>
</p>
<h3>Our Mission</h3>
<p style= "font-family:garamond; font-size: 12pt;align:justify">Our mission is to be a India's leading legal and financial service provider by using innovative solutions, inter-disciplinary methods and state of the art technology, adding to value our client's businesses. Our mission is also to facilitate such an environment where our team identifies with our vision and values regarding high standards in client service.
</p>
<br>






