{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<STYLE TYPE="text/css">
p{font-family: Arial; font-size: 10pt;}
	h1 {
		font-size:18px;
		color:#BBA068
		}
</STYLE>
<table>
<tr>
<td>
<font size="2">
<p align="justify" style= "font-size: 12pt; color: #000000; font-family: Garamond; ">
Themis represents a diverse client base with varied requirement of legal support services using the best of processes and technologies.  Our business requirements make our hiring process very crucial to get the best of talent available. Interested candidates who want to be part of dynamic team with excellent communication skills and flexibility may please submit their resumes.  We will revert for additional details if any, at the time of a suitable job opening. 
</p>
</font>		
</td>

	<td>
	{{ =form}}						
	</td>
</tr>
</table>	