{{extend 'layout.html'}}
<div>
<table>
	<tr>
		<td>
		<h3>Infrastructure</h3>
		<p style= " font-size: 12pt;font-family:garamond;text-align:justify;">We have a state of the art facility with most recent collaborative systems. We use 5th generation of security strategy by installing thin clients systems with ultra-powerful server which has high storage capacity. We ensure high data security, redundancy, solution flexibility, scalability of systems; provide optimized utilization of hardware and software and have in place a sound business continuity plan. We ensure physical and electronic security at our premises.  
		</p><hr />
		<h3>Information Security</h3>
		<p style= "font-size: 12pt;font-family:garamond;text-align:justify;">We ensure the highest level of security for client data and information. Our systems are designed and configured to adhere to the prescribed standards of information security such as confidentiality, integrity and availability. We have a centralized data and control management system which ensures security of confidential data at all times. 
		</p><hr/>
		<h3>Tech Support</h3>
		<p style= "font-size: 12pt;font-family:garamond;text-align:justify;">We provide technology support to our legal services team even beyond the normal business hours as per the client/project requirements.  Our technology support is measured on increasing efficiency of our processes, reliability and scalability, collaboration and security of our systems. We have legally compliant and technologically sound methods of retention, preservation and destruction of electronic information.
		</p>
		</td>
	</tr>
</table>
</div>
<br>

