{{left_sidebar_enabled=right_sidebar_enabled=False}}
{{extend 'layout.html'}}
<h3>Our Senior Team</h3>
	<div id="sizediv">
		<img src="../static/images/team/RakeshChhabra.jpg" width="120px" height="150px" title="Rakesh Chhabra" border="0" />
		<div id="teamcent">
		<p><b><u>Rakesh Chhabra:Practice Head - Tax and Finance</u></b></p>
		<p align="justify">Rakesh Chhabra was enrolled as a member of the ICAI in 1985 and has an experience that spans over various industries including Healthcare, Automobiles, Software, Engineering, Retail, Real Estate & Infrastructure, Aviation and across various disciplines including Taxation, Foreign Exchange Management, Management Consultancy, Valuations, etc. He also carries wide experience of setting up appropriate control systems, development of Management Information Systems and advising Managements on Control Areas.</p>
		</div>
	</div>
	
	<div id="sizediv">
		<img src="../static/images/team/SrinivasKotni.jpg" width="120px" height="150px" title="Srinivas Kotni" border="0" />
		<div id="teamcent">
		<p><b><u>Srinivas Kotni:Practice Head - Transaction Support & Due Diligence</u></b></p>
		<p align="justify">Srinivas Kotni is an accomplished and reputed Corporate Lawyer who heads the Legal practice area of the Company. He has been handling a variety of legal, corporate, commercial, merger & acquisition, private equity and taxation issues for close to last two decades. In the past, he has experience as Consultant/Attorney with leading firms of Attorneys specialising in the areas of Corporate & Commercial Laws, Indirect Taxation and Intellectual Property Rights etc. Srinivas is a graduate...</p>
			<div id="mypanel" class="ddpanel">
				<div id="mypanelcontent" class="ddpanelcontent">
					<p style="padding:5px">
					<p class="closepanel"/><p align="justify">in Commerce from the University of Delhi and has a Bachelor's degree in Law from the Faculty of Law, University of Delhi. He is also a Company Secretary from the Institute of Company Secretaries of India and holds Post Graduate Diplomas in Industrial Relations & Personnel Management, Information Technology & Management (equivalent to Masters in Computer Applications) and an Advanced Diploma in Systems Management. Srinivas also holds Professional Affiliations to the Bar Council of Delhi, the Institute of Company Secretaries of India, Supreme Court Bar Association, CESTAT Bar Association and the All India Management Association etc. He has and is consistently involved in addressing many conferences, meetings, symposia, seminars on various corporate legal issues and emerging corporate law topics. Over the years he has been advising a wide range of clients from a range of industries in their corporate legal matters and transactions.</p>
				</div>
				<div id="mypaneltab" class="ddpaneltab">
				<a href="#"><span>Read More...</span></a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="sizediv">
	<img src="../static/images/team/CharanjotPastagia.jpg" width="120px" height="150px" title="Charanjot Pastagia" border="0"/>
		<div id="teamcent">
		<p><b><u>Charanjot Pastagia:Practice Head - Legal Support And Services</u></b></p>
		<p align="justify">Charanjot has an inimitable combination of 13 years of experience in law firms and legal outsourcing industry. She possesses a general corporate background and is experienced in international commercial law, litigation, and arbitration. Early litigation exposure in India helped her understand contentious issues arising out of commercial contracts. As a senior associate with a New Delhi based corporate law firm, she supervised various foreign investment projects involving due-diligence, negotiations, and structuring of private equity details. Charanjot has diverse industry experience and has represented clients from</p>
			<div id="tls" class="readteam">
				<div id="tlscontent" class="readteamcontent">
					<p style="padding:5px">
					<p class="closepanel"/><p align="justify">the pharmaceutical, banking, finance, information technology, real estate, and manufacturing industries. She handled various contract review, contract management, legal and business research, litigation document review and compliance projects at one of India's large offshore legal service provider, and worked for clients like Sun Microsystems, Computer Associates, John Deere, Travelex etc. Charanjot is a law graduate from the Faculty of Law, Delhi University, and BA, Political Science from Hindu College, Delhi University. She received a diploma in International Laws from the Indian Society of International Law, New Delhi.</p>
				</div>
				<div id="tlstab" class="readteamtab">
					<a href="#"><span>Read More...</span></a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="sizediv">
		<img src="../static/images/team/Rasmeetcharya.jpg" width="120px" height="150px" title="Rasmeet Charya" border="0"/>
		<div id="teamcent">
		<p><b><u>Rasmeet Charaya:Practice Head - Compliance And FCPA Management</u></b></p>
		<p align="justify">Rasmeet has 12 years of collective litigation and LPO experience in litigation support services. Subject matter expert in labor and employee related matters (represented > 400 cases before the Delhi High Court, Supreme Court of India and other tribunals). Handled various UK and US based litigation document review, legal research and contract review projects. She is a BSc., Graduate in Law from Faculty of Law, Delhi University and UK Solicitor. </p>
		</div>
	</div>
	
	<div id="sizediv">
		<img src="../static/images/team/VandanaSeth.jpg" width="120px" height="150px" title="Vandana Seth" border="0" />
		<div id="teamcent">
			<p><b><u>Vandana Seth:Practice Area - Corporate Secretarial</u></b></p>
			<p align="justify">Vandana is a qualified Company Secretary from the Institute of Company Secretaries of India. She comes with a comprehensive experience of corporate laws. She has an excellent understanding of the functioning of the private and public companies. Her experience includes liaison with the government and regulatory authorities on compliance related issues under the Companies Act, Listing Agreements, SEBI Regulations and FEMA. She worked at Religare Enterprises Limited and Amtek Group and efficiently handled corporate secretarial matters. She is a Commerce and Law Graduate from Lucknow University.</p>
		</div>
	</div>

	<div  id="sizediv">
		<img src="../static/images/team/Akhilbansal.jpg" width="120px" height="150px" title="Akhil Bansal" border="0" />
		<div id="teamcent">
		<p><b><u>Akhil bansal:Practice Area - Corporate Re-Structuring</u></b></p>
		<p align="justify">Member of ICAI since 2004, securing all India 13th Rank in C.A. Final examinations. Has earlier worked with Ernst & Young in International Tax & Regulatory Services and PriceWaterHouse Coopers in Mergers & Acquisition. Competencies include advisory services for direct tax matters in mergers, demergers, acquisitions, corporate restructuring and business re-organization. Has worked on a range of tax and regulatory assignments, including inbound and outbound investment structuring. </p>
		</div>
	</div>
<br>
